.Head {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Head h1 {
  margin: 0;
  padding: 20px 20px 10px;
}

.Head-languages {
  display: flex;
  align-items: center;
  padding: 20px 20px 10px;
}

.Head-languages .Input:not(:last-child) {
  border-right: none;
}

.Input {
  border: 1px solid #000;
  padding: 2px 5px;
}

.Input-title {
  cursor: pointer;
}

.Input:has(input:checked) {
  background-color: #9b9b9b;
  color: #fff;
}
