.AuthTool {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.AuthTool a {
    color: #0087e9;
}

.AuthTool-name {
    font-size: 13px;
}
