.Basket-list {
    margin-top: 71px;
}

.Basket-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    line-height: 20px;
    padding: 20px 0;
    margin: 0 120px 70px 0;
}

.Basket-total_padding_cell {
    padding-right: 50px;
}

.Basket-empty {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}